.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  background-color: #0000004d;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__content {
  min-height: 436px;
  max-width: 496px;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__content_type_image {
  padding: 0;
  overflow: hidden;
  min-height: auto;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: url(../../images/close.svg) center/cover no-repeat;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__image {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__submit-btn {
  width: 124px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #000;
  border-radius: 4px;
  border: none;
  transition:
    visibility 0s,
    background 0.3s;
  padding: 0;
  margin-top: 24px;
}

.modal__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__link-button {
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0;
  font-weight: 700;
  background: none;
  cursor: pointer;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.modal__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  box-sizing: border-box;
  transition: border-bottom 0.3s;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  accent-color: black;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label_type_radio {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 8px;
}

.modal__radio-input {
}

.modal__footer {

  padding: 20px 32px;

}