.page {
  min-height: 100vh;
  font-family: "CabinetGrotesk", Arial, sans-serif;;
  font-weight: 700;
  background-color: #f3f3f3;
}

.page__content {
  min-height: 100vh;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .page__content {
    padding: 0 16px;
}
}