.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.footer__copyright {
  margin: 0;
}

.footer__author {
  margin-left: 6px;
  text-decoration: none;
  transition: opacity .3s;
}

.footer__author:hover {
  opacity: .7;
}

.footer__year {
  margin: 0;
}