.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer__copyright {
  margin: 0;
}

.footer__author {
  text-decoration: none;
  color: #212121;
  margin-left: 5px;
  opacity: .7;
  transition: opacity .3s;
}

.footer__author:hover {
  opacity: 1;
}

.footer__year {
  margin: 0;
}